@font-face {
  font-family: "Noka";
  src: url("https://use.typekit.net/ron7lts.css");
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: left;
  background-color: none;
  overflow: hidden;
  background-color: lightskyblue;
}

table, tbody, tr, td{
  border: 1.5px khaki;
  border-radius: 50px;
  transition: 0.25s;
  margin: 0 auto;
}

td {
  padding: 10px;
  vertical-align: center;
  text-align: center;
  color: khaki;
  font-size: 20px;
  border-radius: 50px;
}

@media (min-width: 50px) {
  td {
    font-size: 30px;
    padding: 20px;
    font-weight: semibold;
    text-align: center;
  }
}

td:not(.largeCell):hover {
  background-color: lightblue;
  color: cadetblue;
}        

#title {
  position: relative;
  font-size: 6rem;
  letter-spacing: -2px;
  line-height: 0.9em;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: 0.25s;
  color: khaki;
}

#container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 150px 25px;
    box-sizing: border-box;
    letter-spacing: -0.2px;
}